<!DOCTYPE html>
{% extends 'base.html' %}

<!-- Block Title  ------------------------------------------------------------->
{% block title %}
	Resetear clave
{% endblock title %}

<!-- Block Header ------------------------------------------------------------->
{% block header %}
	{% include 'navbar.html' %}
{% endblock header %}

<!-- Block Main - ------------------------------------------------------------->
{% block main %}
	<div class="row mt-5">
		<div class="col col-md-6 offset-md-3">
			<div class="card">
				<div class="card-header">
					Restablecer Contraseña
				</div>
				<div class="card-body">
					<h5 class="card-title">Restablecimiento de contraseña completado</h5>
					<p class="card-text">Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.</p>
					<div class="d-flex justify-content-evenly">
						<a class="btn btn-primary w-100 m-2" href="{% url 'iniciar_sesion' %}">Ok</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}

<!-- Block Fotter ------------------------------------------------------------->
{% block footer %}
{% endblock %}
